@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

a {
  font-weight: 350;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

.small-font {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  font-style: normal;
  height: 100vh !important;
  /* background-color: #fafafa; */
  background-color: lightblue;
}

.bg-blue {
  /* background-color: rgb(70, 189, 97); */
  background-color: #1d6a96;
}

.text-blue {
  color: #1d6a96;
}

.cursor {
  cursor: pointer;
}

.ant-select-selection-placeholder {
  font-weight: 600 !important;
}

.meter-title {
  font-weight: 400;
}

.ant-divider-horizontal {
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .mobile-card {
    width: 180px !important;
  }
}

@media only screen and (max-width: 392px) {
  .mobile-card {
    width: 160px !important;
  }
}

@media only screen and (max-width: 282px) {
  .mobile-card {
    width: 120px !important;
  }
  body {
    font-size: 0.681rem;
  }
  .navbar-brand {
    font-size: 15px !important;
  }
}
